---
import MapIcon from '../icons/MapIcon.astro'
import SpaceIcon from '../icons/SpaceIcon.astro'
import PrivateIcon from '../icons/PrivateIcon.astro'
---

<section class='mx-auto max-w-6xl px-4 pb-16 md:py-16'>
	<div class='mt-8 grid grid-cols-1 gap-4 md:mt-16 md:grid-cols-3 md:gap-8'>
		<div
			class='flex animate-flip-down flex-col items-center rounded-xl border-2 border-transparent
 bg-primary-bg-component p-8 transition-all animate-once hover:border-2 hover:border-primary-accent'
		>
			<SpaceIcon />
			<h3 class='mt-4 text-center text-3xl text-primary-title'>Amplia variedad de tamaños</h3>
			<p class='mt-4 text-primary-text'>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quaerat facilis possimus Rerum
				officia cum ad necessitatibus tempore!
			</p>
		</div>
		<div
			class='flex animate-flip-up flex-col items-center rounded-xl border-2 border-transparent
 bg-primary-bg-component p-8 transition-all animate-once hover:border-2 hover:border-primary-accent'
		>
			<MapIcon />
			<h3 class='mt-4 text-center text-3xl text-primary-title'>Ubicación excepcional</h3>
			<p class='mt-4 text-primary-text'>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quaerat facilis possimus Rerum
				officia cum ad necessitatibus tempore!
			</p>
		</div>
		<div
			class='flex animate-flip-down flex-col items-center rounded-xl border-2 border-transparent
 bg-primary-bg-component p-8 transition-all animate-once hover:border-2 hover:border-primary-accent'
		>
			<PrivateIcon />
			<h3 class='mt-4 text-center text-3xl text-primary-title'>Privacidad por encima de todo</h3>
			<p class='mt-4 text-primary-text'>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quaerat facilis possimus Rerum
				officia cum ad necessitatibus tempore!
			</p>
		</div>
	</div>
</section>
