<section class='bg-primary-bg-component py-16'>
	<div class='mx-auto max-w-6xl px-4'>
		<h3 class='text-4xl text-primary-title'>Nuestros trasteros</h3>
		<p class='mt-2 text-xl text-primary-text'>
			21 espacios individuales con diferentes medidas para adaptarnos a todo tipo de necesidades.
		</p>
		<img class='mt-12 rounded-xl' src='/images/plano-trasteros.jpg' alt='plano de los trasteros' />
	</div>
</section>
