@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[theme='light'] {
    --bg: 249 250 251;
    --bg-component: 166 166 166;
    --text: 0 0 0;
    --accent: 255 234 0;
  }

  :root[theme='dark'] {
    --bg: 29 42 53;
    --bg-component: 166 166 166;
    --text: 249 250 251;
    --accent: 255 234 0;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --bg: 249 250 251;
      --bg-component: 166 166 166;
      --text: 0 0 0;
      --accent: 255 234 0;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg: 29 42 53;
      --bg-component: 166 166 166;
      --text: 249 250 251;
      --accent: 255 234 0;
    }
  }
}

@layer utilities {
  .hidden-clip-path-top {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .hidden-clip-path-bottom {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
}

html {
  scroll-behavior: smooth;
}
