<footer class="bg-primary-bg-component py-20 px-4">
    <div class="max-w-6xl mx-auto">
        <h2 class="text-primary-title text-4xl">box03</h2>
        <div class="w-full flex flex-row mt-12 md:mt-0">
            <div class="w-0 md:w-2/3"></div>
            <div class="w-full md:w-1/3 flex flex-col md:flex-row gap-x-32">
                <div class="flex flex-col gap-y-2">
                    <a href="#servicios" class="text-lg text-primary-title">Servicios</a>
                    <a href="#trasteros" class="text-lg text-primary-title">Trasteros</a>
                     <a href="#contacto" class="text-lg text-primary-title">Contacto</a>

                </div>
                <div class="flex flex-col gap-y-2 pt-12 md:pt-0">
                     <span class="text-lg text-primary-title">hola@trasterosbox03.com</span>
                     <span class="text-lg text-primary-title">( +34 ) 666 111 222 </span>
                     <span class="text-lg text-primary-title"></span>

                </div>
            
        
            </div>
        </div>
    </div>
</footer>
