---
import sendGrid from '@sendgrid/mail';
sendGrid.setApiKey(import.meta.env.SENDGRID_API_KEY);

if (Astro.request.method === 'POST') {
  try {
    // Getting posted data from our contact form
    let error = '';
    const data = await Astro.request.formData();
    const name = data.get('name') as string;
    const email = data.get('email') as string;
    const message = data.get('message') as string;

    // Sending email
    const msg = {
      to: 'gestionbox03@gmail.com', // Change to your recipient
      from: email, // Change to your verified sender
      replyTo: { email: email, name: name },
      subject: `Nuevo contacto de ${name} en box03`,
      text: message,
    };
    await sendGrid
      .send(msg)
      .then(() => {
        console.log('Email sent');
      })
      .catch((error) => {
        console.error(error);
      });
  } catch (error) {
    console.error(error);
  }
}
---

<form class='flex flex-col gap-4 w-full' method='post'>

    <input class="text-primary-title-hovered hover:ring-primary-title-hovered focus:ring-primary-title-hovered bg-transparent outline-none ring-primary-title-hovered placeholder:text-primary-text block w-full appearance-none rounded-md border-0 px-4 py-4 text-base ring-1 transition focus:outline-none focus:ring-2"  
    autocomplete="off"   placeholder="Nombre completo" type='text' name='name' />

    <input class="text-primary-title-hovered hover:ring-primary-title-hovered focus:ring-primary-title-hovered bg-transparent outline-none ring-primary-title-hovered placeholder:text-primary-text block w-full appearance-none rounded-md border-0 px-4 py-4 text-base ring-1 transition focus:outline-none focus:ring-2"  
     placeholder="Email" autocomplete="off" type='email' name='email' />

    <textarea class="text-primary-title-hovered hover:ring-primary-title-hovered focus:ring-primary-title-hovered bg-transparent outline-none ring-primary-title-hovered placeholder:text-primary-text block w-full appearance-none rounded-md border-0 px-4 py-4 text-base ring-1 transition focus:outline-none focus:ring-2"  
    placeholder="Mensaje" autocomplete="off" name='message'
    ></textarea>
    <button type="submit" class="text-primary-text-inverse rounded-full w-fit bg-primary-text cursor-pointer hover:bg-primary-title-hovered disabled:cursor-default disabled:hover:bg-primary-text disabled:opacity-25  transition-all duration-250 py-3 px-6 mt-2">Enviar</button>

</form>
