<form class='flex w-full flex-col gap-4' method='post'>
	<input
		class='block w-full appearance-none rounded-md border-0 bg-transparent px-4 py-4 text-base text-primary-title-hovered outline-none ring-1 ring-primary-title-hovered transition placeholder:text-primary-text hover:ring-primary-title-hovered focus:outline-none focus:ring-2 focus:ring-primary-title-hovered'
		autocomplete='off'
		placeholder='Nombre completo'
		type='text'
		name='name'
		required
	/>

	<input
		class='block w-full appearance-none rounded-md border-0 bg-transparent px-4 py-4 text-base text-primary-title-hovered outline-none ring-1 ring-primary-title-hovered transition placeholder:text-primary-text hover:ring-primary-title-hovered focus:outline-none focus:ring-2 focus:ring-primary-title-hovered'
		placeholder='Email'
		autocomplete='off'
		type='email'
		name='email'
		required
	/>

	<textarea
		class='block w-full appearance-none rounded-md border-0 bg-transparent px-4 py-4 text-base text-primary-title-hovered outline-none ring-1 ring-primary-title-hovered transition placeholder:text-primary-text hover:ring-primary-title-hovered focus:outline-none focus:ring-2 focus:ring-primary-title-hovered'
		placeholder='Mensaje'
		autocomplete='off'
		name='message'
		required></textarea>
	<button
		type='submit'
		class='duration-250 mt-2 w-fit cursor-pointer rounded-full bg-primary-text px-6 py-3 text-primary-text-inverse transition-all hover:bg-primary-title-hovered disabled:cursor-default disabled:opacity-25 disabled:hover:bg-primary-text'
		>Enviar</button
	>
</form>
