---
const { serviceNo, title, description, icon: Icon } = Astro.props
---

<div
	id={`service-${serviceNo}`}
	class="flex flex-col gap-12 rounded-3xl border-2 border-transparent
  bg-primary-bg-component px-6 py-8 transition-all"
>
	<div class="duration-250 flex flex-col gap-y-4">
		<Icon/>
		<h4 class="text-xl text-primary-title">{title}</h4>
		<p class="text-primary-text">
			{description}
		</p>
	</div>
</div>
