---
const { serviceNo, title, description } = Astro.props
---

<div
	id={`service-${serviceNo}`}
	class='flex scale-75 flex-col gap-12 rounded-3xl bg-primary-bg-component px-6
  py-8 opacity-0'
>
	<span class='text-primary-title'>0{serviceNo}</span>
	<div class='duration-250 flex flex-col gap-y-4 transition-all hover:-translate-y-2'>
		<h4 class='text-xl text-primary-title'>{title}</h4>
		<p class='text-primary-text'>
			{description}
		</p>
	</div>
</div>
