---
import ContactForm from './components/ContactForm.astro'
import AddressIcon from '../icons/AddressIcon.astro'
import PhoneIcon from '../icons/PhoneIcon.astro'
import EmailIcon from '../icons/EmailIcon.astro'
---

<section id='contacto' class='mx-auto max-w-6xl px-4 py-16'>
	<h3 id='contact-title' class='text-4xl text-primary-title'>Contacto</h3>
	<div class='md:gap-6-0 my-12 mb-24 flex flex-col gap-x-6 gap-y-6 md:flex-row'>
		<div
			id='info-card-1'
			class='flex w-full scale-75 flex-col gap-12 rounded-3xl
    bg-primary-bg-component px-6 py-8 opacity-0'
		>
			<AddressIcon />
			<div class='flex flex-col gap-y-4'>
				<p class='duration-250 text-primary-title transition-all hover:-translate-y-2'>
					Dirección Lorem Lorem
				</p>
			</div>
		</div>
		<div
			id='info-card-2'
			class='flex w-full scale-75 flex-col gap-12 rounded-3xl
    bg-primary-bg-component px-6 py-8 opacity-0'
		>
			<PhoneIcon />
			<div class='flex flex-col gap-y-4'>
				<p class='duration-250 text-primary-title transition-all hover:-translate-y-2'>
					Dirección Lorem Lorem
				</p>
			</div>
		</div>
		<div
			id='info-card-3'
			class='flex w-full scale-75 flex-col gap-12 rounded-3xl
    bg-primary-bg-component px-6 py-8 opacity-0'
		>
			<EmailIcon />
			<div class='flex flex-col gap-y-4'>
				<p class='duration-250 text-primary-title transition-all hover:-translate-y-2'>
					Dirección Lorem Lorem
				</p>
			</div>
		</div>
	</div>

	<div class='mt-6 flex flex-col gap-x-12 gap-y-10 md:flex-row'>
		<div class='flex w-full flex-col md:w-1/2'>
			<h4 class='text-4xl text-primary-title'>Ampliemos tu espacio juntos</h4>
			<p class='mt-4 w-full text-lg leading-6 text-primary-text md:w-[85%]'>
				Escríbenos y te ayudaremos a encontrar la solución que mejor se adapte a tus necesidades.
			</p>
		</div>
		<div class='md:w-1/2'>
			<ContactForm />
		</div>
	</div>
</section>

<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'

	gsap.registerPlugin(ScrollTrigger)

	const timeline = gsap.timeline({
		scrollTrigger: {
			trigger: '#info-card-1',
			start: 'top 80%',
			end: 'bottom 20%',
			toggleActions: 'play none none none'
		}
	})
	const timeline2 = gsap.timeline({
		scrollTrigger: {
			trigger: '#info-card-1',
			start: 'top 80%',
			end: 'bottom 20%',
			toggleActions: 'play none none none'
		}
	})
	const timeline3 = gsap.timeline({
		scrollTrigger: {
			trigger: '#info-card-1',
			start: 'top 80%',
			end: 'bottom 20%',
			toggleActions: 'play none none none'
		}
	})

	timeline.to('#info-card-1', {
		rotate: 0,
		opacity: 1,
		scale: 1,
		duration: 0.25,
		ease: 'back'
	})

	timeline2.to('#info-card-2', {
		rotate: 0,
		opacity: 1,
		scale: 1,
		duration: 0.25,
		delay: 0.1,
		ease: 'back'
	})

	timeline3.to('#info-card-3', {
		rotate: 0,
		opacity: 1,
		scale: 1,
		duration: 0.25,
		delay: 0.2,
		ease: 'back'
	})
</script>
