---
import Button from './components/Button.astro';
---

<section class='mx-auto w-full bg-primary-bg-component py-8 md:py-16'>
  <div class='flex flex-col gap-8 mx-auto max-w-6xl px-4'>
    <h2 class='text-center text-4xl'>¿Necesitas almacenamiento extra?</h2>
    <div class='mx-auto max-w-xl'>
      <Button text='Contrata ahora' href='#contacto' />
    </div>
  </div>
</section>
