---
import Button from './components/Button.astro'
---

<section class='mx-auto bg-primary-bg-component px-4 py-12 md:py-16'>
	<div class='mx-auto flex max-w-2xl flex-col items-center justify-center gap-y-6'>
		<h2 class='text-center text-4xl text-primary-title'>Ampliemos espacio juntos</h2>
		<p class='text-center text-primary-text'>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel illo a hic enim, ea commodi
			mollitia magni rerum! Id alias corrupti aspernatur dolores at eos laudantium neque cumque sunt
			soluta!
		</p>
		<Button text='Contrata ahora' href='#contacto' />
	</div>
</section>
