---
import Button from "./components/Button.astro";
---

<section class="mx-auto bg-primary-bg-component py-12 md:py-16 px-4">
  <div
    class="flex flex-col mx-auto items-center justify-center gap-y-6 max-w-2xl"
  >
    <h2 class="text-center text-primary-title text-4xl">
      Ampliemos tu espacio juntos
    </h2>
    <p class="text-primary-text text-center">
      Box03 ofrece un servicio exclusivo de alquiler de trasteros en Ceuta,
      proporcionando soluciones de almacenamiento seguras y adaptadas a tus
      necesidades.
    </p>
    <Button text="Contacta ahora" href="#contacto" />
  </div>
</section>
