---
import Button from './components/Button.astro'
---

<section class="mx-auto bg-primary-bg-component px-4 py-12 md:py-16">
	<div class="mx-auto flex max-w-2xl flex-col items-center justify-center gap-y-6">
		<h2 class="text-center text-4xl text-primary-title">Ampliemos espacio juntos</h2>
		<p class="text-center text-primary-text">
			Box03 ofrece un servicio exclusivo de alquiler de trasteros en Ceuta, proporcionando
			soluciones de almacenamiento seguras y adaptadas a tus necesidades.
		</p>
		<Button text="Contrata ahora" href="/contacto" />
	</div>
</section>
