---
import EmailIcon from '../icons/EmailIcon.astro'
import SignIcon from '../icons/SignIcon.astro'
import SelectIcon from '../icons/SelectIcon.astro'
---

<section class="mx-auto max-w-6xl px-4 pb-16 py-12">
	<h3 id="service-title" class="text-4xl text-primary-title">¿Cómo funciona?</h3>
	<div class="md:gap-6-0 my-12 mb-24 flex flex-col gap-x-6 gap-y-6 md:flex-row">
		<div
			id="info-card-1"
			class="flex w-full flex-col gap-12 rounded-3xl border-2 border-transparent bg-primary-bg-component px-6 py-8 transition-all hover:scale-[105%] hover:border-primary-accent"
		>
			<SelectIcon />
			<div class="flex flex-col gap-y-4">
				<p class="duration-250 text-primary-title">Elige</p>
				<p class="duration-250 text-primary-text">
					Selecciona la categoría que mejor se adapte a tus necesidades.
				</p>
			</div>
		</div>
		<div
			id="info-card-2"
			class="flex w-full flex-col gap-12 rounded-3xl border-2 border-transparent bg-primary-bg-component px-6 py-8 transition-all hover:scale-[105%] hover:border-primary-accent"
		>
			<EmailIcon />
			<div class="flex flex-col gap-y-4">
				<p class="duration-250 text-primary-title">Contacta</p>
				<p class="duration-250 text-primary-text">
					Rellena el formulario y nos pondremos en contacto contigo.
				</p>
			</div>
		</div>
		<div
			id="info-card-3"
			class="flex w-full flex-col gap-12 rounded-3xl border-2 border-transparent bg-primary-bg-component px-6 py-8 transition-all hover:scale-[105%] hover:border-primary-accent"
		>
			<SignIcon />
			<div class="flex flex-col gap-y-4">
				<p class="duration-250 text-primary-title">Firma</p>
				<p class="duration-250 text-primary-text">
					Firma tu contrato y comienza a disfrutar de tu espacio de almacenamiento en Box03 sin
					complicaciones.
				</p>
			</div>
		</div>
	</div>
</section>
