---
import PricingCard from '../home/components/PricingCard.astro'

const pricing = [
	{
		name: 'Estándar',
		description: 'Hasta 3,5m² de almacenamiento',
		isFlagged: true,
		periodicity: '/mes',
		price: '65€',
		available: true,
		features: [
			'Bicicletas y equipo de ciclismo',
			'Herramientas y equipos de bricolaje',
			'Cajas de almacenamiento y archivos',
			'Instrumentos musicales'
		]
	},
	{
		name: 'Premium',
		description: 'Más de 14m² de almacenamiento',
		periodicity: '/mes',
		price: '120€',
		available: true,
		features: [
			'Muebles',
			'Equipamiento de oficina',
			'Enseres de mudanza',
			'Atrezzo, decorados escénicos'
		]
	}
]
---

<section id='trasteros' class='mx-auto max-w-6xl px-4 py-16'>
	<h3 class='text-4xl text-primary-title'>Selecciona una categoría</h3>
	<div class='mt-16 flex flex-col gap-20 md:flex-row md:justify-center'>
		{pricing.map((item) => <PricingCard {...item} />)}
	</div>
</section>