<section id='service-section' class='mx-auto max-w-6xl py-16 px-4'>
  <h3 id='service-title' class='text-4xl text-primary-text'>Servicios</h3>
  <div class='grid md:grid-cols-3 gap-8 mt-12'>
    <div
      id='service-01'
      class='flex flex-col gap-12 py-8 px-6 rounded-2xl bg-red-300 z-20 opacity-0 -translate-x-[550px] hidden-clip-path-top rotate-45'
    >
      <span>01</span>
      <div class='flex flex-col gap-y-4'>
        <h4 class='text-xl'>Diseño</h4>
        <p>
          Desarrollamos diseños atractivos y funcionales, que se adaptan a las
          necesidades de tu empresa.
        </p>
      </div>
    </div>
    <div
      id='service-02'
      class='flex flex-col gap-12 py-8 px-6 rounded-2xl bg-red-300 z-10 opacity-0 -translate-x-[550px] hidden-clip-path-top -rotate-45'
    >
      <span>02</span>
      <div class='flex flex-col gap-y-4'>
        <h4 class='text-xl'>Diseño</h4>
        <p>
          Desarrollamos diseños atractivos y funcionales, que se adaptan a las
          necesidades de tu empresa.
        </p>
      </div>
    </div>
    <div
      id='service-03'
      class='flex flex-col gap-12 py-8 px-6 rounded-2xl bg-red-300 opacity-0 -translate-x-[550px] hidden-clip-path-top rotate-45'
    >
      <span>03</span>
      <div class='flex flex-col gap-y-4'>
        <h4 class='text-xl'>Diseño</h4>
        <p>
          Desarrollamos diseños atractivos y funcionales, que se adaptan a las
          necesidades de tu empresa.
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const timeline = gsap.timeline({
    scrollTrigger: {
      trigger: '#service-section',
      start: 'top 80%',
      end: 'bottom 20%',
      toggleActions: 'play none none none',
    },
  });

  timeline.from('#service-title', {
    opacity: 0,
    x: -550,
    duration: 0.5,
    ease: 'back',
  });

  timeline.to('#service-01', {
    rotate: 0,
    opacity: 1,
    clipPath: 'polygon(0 0, 100% 0, 100% 100%, 0 100%)',
    x: 0,
    duration: 0.5,
    ease: 'back',
  });

  timeline.to('#service-02', {
    rotate: 0,
    opacity: 1,
    clipPath: 'polygon(0 0, 100% 0, 100% 100%, 0 100%)',
    x: 0,
    duration: 0.5,
    ease: 'back',
  });

  timeline.to('#service-03', {
    rotate: 0,
    opacity: 1,
    clipPath: 'polygon(0 0, 100% 0, 100% 100%, 0 100%)',
    x: 0,
    duration: 0.5,
    ease: 'back',
  });
</script>
