---
import ServiceCard from './components/ServiceCard.astro'

const services = [
	{
		title: 'Acceso',
		description:
			'Acceso flexible los 7 días de la semana. Disfruta de la libertad de acceder a tus pertenencias cuando lo necesites.'
	},
	{
		title: 'Seguridad',
		description:
			'Trasteros privados y discretos que aseguran la confidencialidad y seguridad de tus pertenencias.'
	},
	{
		title: 'Flexibilidad',
		description:
			'Opciones de alquiler a partir de un mes de duración, ofreciendo soluciones que se adaptan a tus necesidades.'
	}
]
---

<section id="servicios" class="mx-auto max-w-6xl px-4 py-16 pb-24">
	<h3 id="service-title" class="text-4xl text-primary-title">Servicios</h3>
	<div class="mt-12 grid gap-8 md:grid-cols-3">
		{
			services.map((service, index) => (
				<ServiceCard
					serviceNo={index + 1}
					title={service.title}
					description={service.description}
				/>
			))
		}
	</div>
</section>
