---
import Box from './components/Box.astro'

const storages = [
	{
		id: '1',
		name: 'box 01',
		surface: '3.55 m²',
		height: '3.29 m',
		volume: '1.68 m³',
		price: '144.84 €',
		available: true
	},
	{
		id: '2',
		name: 'box 02',
		surface: '2.06 m²',
		height: 'max: 2.53 m, min: 1.83 m',
		volume: '4.16 m³',
		price: '84.05 €',
		available: true
	},
	{
		id: '3',
		name: 'box 03',
		surface: '1.97 m²',
		height: '2.53 m',
		volume: '4.98 m³',
		price: '80.38 €',
		available: true
	},
	{
		id: '4',
		name: 'box 04',
		surface: '2.07 m²',
		height: '2.53 m',
		volume: '5.24 m³',
		price: '84.46 €',
		available: true
	},
	{
		id: '5',
		name: 'box 05',
		surface: '2.84 m²',
		height: '2.53 m',
		volume: '7.19 m³',
		price: '115.87 €',
		available: true
	},
	{
		id: '6',
		name: 'box 06',
		surface: '3.16 m²',
		height: '2.53 m',
		volume: '7.99 m³',
		price: '128.93 €',
		available: true
	},
	{
		id: '7',
		name: 'box 07',
		surface: '2.35 m²',
		height: '2.53 m',
		volume: '5.95 m³',
		price: '95.88 €',
		available: true
	},
	{
		id: '8',
		name: 'box 08',
		surface: '2.46 m²',
		height: '2.53 m',
		volume: '6.22 m³',
		price: '100.37 €',
		available: true
	},
	{
		id: '9',
		name: 'box 09',
		surface: '2.21 m²',
		height: '2.53 m',
		volume: '5.59 m³',
		price: '90.17 €',
		available: true
	},
	{
		id: '10',
		name: 'box 10',
		surface: '2.25 m²',
		height: '2.53 m',
		volume: '5.69 m³',
		price: '91.80 €',
		available: true
	},
	{
		id: '11',
		name: 'box 11',
		surface: '2.31 m²',
		height: '2.53 m',
		volume: '5.84 m³',
		price: '94.25 €',
		available: true
	},
	{
		id: '12',
		name: 'box 12',
		surface: '2.31 m²',
		height: '2.53 m',
		volume: '5.84 m³',
		price: '94.25 €',
		available: true
	},
	{
		id: '13',
		name: 'box 13',
		surface: '2.94 m²',
		height: '2.53 m',
		volume: '7.44 m³',
		price: '119.95 €',
		available: true
	},
	{
		id: '14',
		name: 'box 14',
		surface: '2.93 m²',
		height: '2.53 m',
		volume: '7.41 m³',
		price: '119.54 €',
		available: true
	},
	{
		id: '15',
		name: 'box 15',
		surface: '2.09 m²',
		height: '2.53 m',
		volume: '5.29 m³',
		price: '85.27 €',
		available: true
	},
	{
		id: '16',
		name: 'box 16',
		surface: '2.25 m²',
		height: '2.53 m',
		volume: '5.69 m³',
		price: '91.80 €',
		available: true
	},
	{
		id: '17',
		name: 'box 17',
		surface: '2.25 m²',
		height: '2.53 m',
		volume: '5.69 m³',
		price: '91.80 € m',
		available: true
	},
	{
		id: '18',
		name: 'box 18',
		surface: '2.11 m²',
		height: '2.53 m',
		volume: '5.34 m³',
		price: '86.09 € m',
		available: true
	},
	{
		id: '19',
		name: 'box 19',
		surface: '14.87 m²',
		height: 'max: 2.53 m, min: 1.50 m',
		volume: '26.26 m³',
		price: '606.70 €',
		available: true
	},
	{
		id: '20',
		name: 'box 20',
		surface: '3.58 m²',
		height: '2.53 m',
		volume: '9.06 m³',
		price: '146.06 €',
		available: true
	},
	{
		id: '21',
		name: 'box 21',
		surface: '2.42 m²',
		height: '2.53 m',
		volume: '6.12 m³',
		price: '98.74 €',
		available: true
	}
]
---

<section class="mx-auto max-w-6xl px-4 py-8 md:py-16">
	<div class="overflow-x-auto px-2">
		<h3 class="mb-6 text-4xl text-primary-title">Nuestros trasteros</h3>
		<table class="w-full border-collapse border border-transparent text-primary-text">
			<thead>
				<tr>
					<th
						class="w-1/6 border border-transparent px-4 py-2 text-center align-middle text-primary-accent"
						>Trastero</th
					>
					<th
						class="w-1/6 border border-transparent px-4 py-2 text-center align-middle text-primary-accent"
						>Superficie</th
					>
					<th
						class="w-1/6 border border-transparent px-4 py-2 text-center align-middle text-primary-accent"
						>Altura</th
					>
					<th
						class="w-1/6 border border-transparent px-4 py-2 text-center align-middle text-primary-accent"
						>Volumen</th
					>
					<th
						class="w-1/6 border border-transparent px-4 py-2 text-center align-middle text-primary-accent"
						>Precio/mes</th
					>
				</tr>
			</thead>
			<tbody>
				{storages.map((box) => <Box {...box} />)}
			</tbody>
		</table>
	</div>
</section>
